<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="@Url.Content("~/Images/Marg_Image.png")">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/admin_log_in.css")" rel="stylesheet">
</head>

<body style="position: relative; "> @*background:#2A3F54*@
    @RenderBody()
</body>
</html>
