@model GurukulAppAdminPanel.Models.EventManagement

<link href="@Url.Content("~/Content/dataTables.min.css")" rel="stylesheet">
<!-- page content start -->
<div class="right_col" role="main">
    <div class="row">
        <ul id="breadcrumb">
            <li><a href="@ViewBag.breadcrumbHomeURL"><i class="fa fa-home mar_right_5" aria-hidden="true"></i> @ViewBag.breadcrumbHome </a></li>
            <li><a href="javascript:void();"><i class="fa fa-thumbs-o-up mar_right_5" aria-hidden="true"></i> @ViewBag.breadcrumbController </a></li>
            <li><a href="javascript:void();"><i class="fa fa-table mar_right_5" aria-hidden="true"></i> @ViewBag.breadcrumbAction </a></li>
        </ul>
    </div>
    <div class="row margin-row-0">
        <div class="col-sm-3 col-md-3">
            @*<h5>User Status:</h5>*@
            Event Type: <select id="dd_type" class="form-control">
                <option value="0">Type</option>
            </select>
        </div>
        <div class="col-sm-3 col-md-3">
            @*<h5>User Status:</h5>*@
            Event Status: <select id="dd_statuses" class="form-control">
                <option value="0">Status</option>
            </select>
        </div>
       
    </div>

    <div class="row" style="margin-top:20px">
        <div class="panel panel-default widget1">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-table"></i> @ViewBag.breadcrumbAction </h4>
            </div>
            <div class="panel-body">
                <table class="table table-responsive kullaniciTablosu" id="eventTabledata" style="border: 1px solid#eee;background: #ffffff">
                    <thead>
                        <tr>
                            <th>EVENT ID</th>
                            <th>Volunteer Name</th>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Volunteer's Date</th>
                            <th>Applied On</th>
                            <th>Message</th>
                            @*<th>Action</th>*@
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.VolunteerEventList.Count > 0)
                        {
                            int i = 0;
                            foreach (Dictionary<string, object> _volunteer in Model.VolunteerEventList)
                            {
                                string approveval = string.Empty, rejectval = string.Empty;
                                byte[] byt;
                                int _statusVal = Convert.ToInt16(_volunteer["STATUS"]);
                                int reject_status = 0;
                                int _msg_id = 0;
                                int reject_msg = 0;
                                string _event_reg_id = _volunteer["EVENT_REG_ID"].ToString();

                                //switch (_statusVal)
                                //{
                                //    case 1: { approveval = Url.Encode(_event_reg_id + "-2"); rejectval = Url.Encode(_event_reg_id + "-3"); } break;
                                //    case 4: { approveval = Url.Encode(_event_reg_id + "-5"); rejectval = Url.Encode(_event_reg_id + "-6"); } break;
                                //    case 7: { approveval = Url.Encode(_event_reg_id + "-8"); } break;
                                //}

                                //--------------- Approve Val Encode --------------
                                byt = System.Text.Encoding.UTF8.GetBytes(approveval);
                                approveval = Convert.ToBase64String(byt);

                                //--------------- Reject Val Encode --------------
                                byt = System.Text.Encoding.UTF8.GetBytes(rejectval);
                                rejectval = Convert.ToBase64String(byt);

                                string _approveUrl = "event/volunteer-event-approved/" + _statusVal+"/"+ _event_reg_id;
                                string _rejectUrl = "event/volunteer-event-rejected/" + _statusVal + "/" + _event_reg_id;
                                ++i;
                                <tr>
                                    @*<td> @_volunteer["EVENT_REG_ID"] </td>*@
                                    <td>
                                        <a href="javascript:void(0);" id="showEventDetails" data-id="@_volunteer["EVENT_REG_ID"]" class="text-danger showEventDetails" title="Show Event Details" data-toggle="modal" data-target="#myModal4">@_volunteer["EVENT_REG_ID"]</a>
                                    </td>
                                    <td> <a href="javascript:void(0);" id="showVolunteerProfile" data-id="@_volunteer["USER_ID"]" class="text-danger" title="Show Profile" data-toggle="modal" data-target="#myModal7">@_volunteer["VOLUNTEER_NAME"]</a> </td>
                                    <td> @_volunteer["EVENT_NAME"] </td>
                                    <td> @_volunteer["EVENT_DATE"] </td>
                                    <td> @_volunteer["USER_DATE"] </td>
                                    <td> @_volunteer["REG_DATE"] </td>
                                    <td> @_volunteer["MESSAGE"] </td>
                                    @*<td><a href="javascript:void(0);" id="updateContent" data-id="@_volunteer["EVENT_REG_ID"]" class="text-danger" title="Update" data-toggle="modal" data-target="#myModal8"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> </td>*@
                                    <td>
                                        <div class="btn-group">
                                            @*//Check-In & Check-Out approved*@
                                            @if (_statusVal == 24|| _statusVal == 29)
                                            {
                                                _statusVal = 25;//Check-In & Check-Out Rejected
                                                _msg_id = 82;//Check-In & Check-Out Rejected
                                                _rejectUrl = "event/volunteer-event-rejected/" + _statusVal + "/" + _event_reg_id;
                                                if (@_volunteer["EVENT_TYPE"].ToString() == "1")//Nivvriti
                                                {
                                                    <a href="javascript:void(0);" id="updateContent" data-id="@_volunteer["EVENT_REG_ID"]" class="btn btn-danger btn-xs" title="Update" data-toggle="modal" data-target="#myModal8"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                }
                                                if (@_volunteer["EVENT_TYPE"].ToString() == "2")//Workshop
                                                {
                                                    <a href="javascript:void(0);" id="itienary_" data-id="@_volunteer["EVENT_REG_ID"]" class="btn btn-danger btn-xs" title="Itienary" data-toggle="modal" data-target="#myModal10"><i class="fa fa-home" aria-hidden="true"></i></a>
                                                }

                                                <a href="javascript:void(0);" title="Reject" id="rejectBtn" data-eventid="@rejectval" data-url="@_rejectUrl" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal9"> <i class="fa fa-ban"></i> </a>
                                            }
                                            //Check-In & Check-Out approval pending
                                            else if (_statusVal == 26 )
                                            {

                                                _statusVal = 24;//Check-In & Check-Out Approved
                                                reject_status = 25;//Check-In & Check-Out Rejected
                                                _msg_id = 81;//Check-In & Check-Out Approved
                                                reject_msg = 82;//Event Rejected
                                                _rejectUrl = "event/volunteer-event-rejected/" + reject_status + "/" + _event_reg_id ;
                                                _approveUrl = "event/volunteer-event-approved/" + _statusVal + "/" + _event_reg_id + "/" + _msg_id;
                                                <a href="@Url.Action("", _approveUrl)" title="Approve" class="btn btn-success btn-xs"><i class="fa fa-check"> </i> </a>
                                                <a href="javascript:void(0);" title="Reject" id="rejectBtn" data-eventid="@rejectval" data-url="@_rejectUrl" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal9"> <i class="fa fa-ban"></i> </a>
                                            }
                                            //Check-In & Check-Out approval rejected
                                            else if (_statusVal == 25)
                                            {

                                                _statusVal = 24;//Check-In & Check-Out Approved
                                               
                                                _msg_id = 81;//Check-In & Check-Out Approved
                                               
                                               
                                                _approveUrl = "event/volunteer-event-approved/" + _statusVal + "/" + _event_reg_id + "/" + _msg_id;
                                                <a href="@Url.Action("", _approveUrl)" title="Approve" class="btn btn-success btn-xs"><i class="fa fa-check"> </i> </a>

                                            }
                                            //Waiting for Approval
                                            else if (_statusVal == 17)
                                            {
                                                _statusVal = 18;//Event Approved
                                                _msg_id = 78;//Event Approved
                                                reject_msg = 79;//Event Rejected
                                                reject_status = 19;//Event Reject
                                                _rejectUrl = "event/volunteer-event-rejected/" + reject_status + "/" + _event_reg_id;
                                                _approveUrl = "event/volunteer-event-approved/" + _statusVal + "/" + _event_reg_id + "/" + _msg_id;
                                                <a href="@Url.Action("", _approveUrl)" title="Approve" class="btn btn-success btn-xs"><i class="fa fa-check"> </i> </a>
                                                <a href="javascript:void(0);" title="Reject" id="rejectBtn" data-eventid="@rejectval" data-url="@_rejectUrl" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal9"> <i class="fa fa-ban"></i> </a>
                                            }
                                            //Rejected
                                            else if (_statusVal == 19)
                                            {
                                                _statusVal = 18;//Event Approved
                                                _msg_id = 78;//Event Approved
                                                _approveUrl = "event/volunteer-event-approved/" + _statusVal + "/" + _event_reg_id + "/" + _msg_id;
                                                <a href="@Url.Action("", _approveUrl)" title="Approve" class="btn btn-success btn-xs"><i class="fa fa-check"> </i> </a>

                                            }
                                            //Event registration approved
                                            else if (_statusVal == 18)
                                            {
                                                _statusVal = 19;//Event Rejected
                                                reject_msg = 79;//Event Rejected
                                                _rejectUrl = "event/volunteer-event-rejected/" + _statusVal + "/" + _event_reg_id ;
                                            <a href="javascript:void(0);" title="Reject" id="rejectBtn" data-eventid="@rejectval" data-url="@_rejectUrl" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal9"> <i class="fa fa-ban"></i> </a>
                                            }
                                            //Deleted
                                            else if (_statusVal == 21)
                                            {
                                                <label class="btn-danger">Deleted</label>
                                            }
                                            //Booking Confirmed
                                            else if (_statusVal == 27)
                                            {
                                                @*<label class="btn-success">Confirmed</label>*@
                                                //No action is allowed as booking is confirmed.
                                            }
                                            //Booking info Shared
                                            else if (_statusVal == 28)
                                            {
                                                _statusVal = 27;//Booking confirm
                                                _msg_id = 75;//Booking confirm
                                                _approveUrl = "event/volunteer-event-approved/" + _statusVal + "/" + _event_reg_id + "/" + _msg_id;
                                                <a href="@Url.Action("", _approveUrl)" title="Approve" class="btn btn-success btn-xs"><i class="fa fa-check"> </i> </a>  
                                            }
                                            //
                                            else if (_statusVal == 30)
                                            {                                               
                                                //No action is allowed as volunteering is complete.
                                            }

                                        </div>
                                    </td>                                    
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal fade" id="myModal9" role="dialog">
                <div class="modal-dialog  panal-modal">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Reject Event</h4>
                        </div>
                        <div class="modal-body">
                            @*data-toggle="modal" data-target="#myModal9"*@
                            Message:<select id="message_dd">
                                <option value="0">Select</option>
                            </select>
                            <button type="button" id="btn_reject_with_msg" >Reject</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="myModal10" role="dialog">
                <div class="modal-dialog  panal-modal">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Itinerary Update</h4>
                        </div>
                        <div class="modal-body">
                           
                            <form id="form_sv_itinerary">
                                @*<input type="hidden" id="hide_event_reg_id" />
                                <input type="file" id="file_" name="file_" />
                                <button type="button" id="sv_file" class="btn">save</button>*@


                                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", id = "form_sv_itinerary" }))
                                {

                                    <div>
                                        @Html.HiddenFor(model => Model.hide_event_reg_id, new { @id = "hide_event_reg_id" })
                                        @*@Html.HiddenFor(model => Model.file_, new { @id = "file_" })*@
                                        @*<input type="hidden" id="hidden_mou_id" />*@
                                        @Html.TextBox("file", "", new { type = "file",id="itinerary_file" }) <br />

                                        <button type="button" id="sv_file" class="btn btn-default" data-dismiss="modal">Save</button>



                                    </div>


                                }




                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade" id="myModal8" role="dialog">
                <div class="modal-dialog  panal-modal">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Topic Content Update</h4>
                        </div>
                        <div class="modal-body">
                            <table>
                                <tr><td>
                                    <input type="hidden" id="event_reg_id_hide" />
    Subject:
    <select id="id_of_sub" class="form-control ">
        <option value="0">Select</option>
    </select>
</td>
                                </tr>
                               
                                <tr><td>

    Tpoic:
    <select id="id_of_topic" class="form-control ">
        <option value="0">Select</option>
    </select>
</td>
                                </tr>
                                
                                <tr><td>
    Content:
    <input type="text" id="content_id" class="form-control " />
</td>
                                </tr>
                              
                                <tr><td>
    <button type="button" id="btn_save_topic_content" class="btn btn-success">Save</button>
</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Reject Modal Start -->
          
            <!-- Reject Modal End -->
            <!-- Profile  -->
            <div class="modal common-popup" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header"><h3>Profile Details</h3></div>
                        <div class="modal-body">
                            
                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-success"><i class="fa fa-check"></i>Save changes</button>*@
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog  panal-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Event Details</h4>
            </div>
            <div class="modal-body">
                <div id="event_details_Div"></div>
                <div id="content_div"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog  panal-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Details</h4>
            </div>
            <div class="modal-body">
                <div id="user_profile_div"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- page content end -->
<script src="@Url.Content("~/Scripts/dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/alert-popup.js")"></script>
<script>
    $(document).ready(function () {
        $('#eventTabledata').DataTable();
        jQuery(document).on("click", "#rejectBtn", function () {
            var _eventid = $(this).data("eventid");
            $("#event_id").val(_eventid);
            $("#rejectVolunteerEvent").modal("show");
        });

        $.AlertBox({ type: "abc", con: "jay" });
        //$.AlertBox([{ type: "abc", con: "jay" }]);
        //$.AlertBox("Abc");
        //$.AlertBox("1");
    });
</script>




